<Layouts.flash_group flash={@flash} />
<h1>Welcome to the SHOP</h1>
<h2>Videogame e-commerce store</h2>

<hr class="my-10">

<p>select a platform:</p>

<form action="">
  <select name="platform" id="platform">
    <option value="pc">PC</option>
    <option value="xbox">Xbox</option>
    <option value="ps5">PS5</option>
    <option value="nintendo-switch">Nintendo switch</option>
  </select>
  <button type="submit">Save</button>
</form>